@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
.btn_container{
    text-align: center;
}

.btn{
  padding: 11px 12px 11px 12px;
  color: rgba(255, 255, 255, 1);

font-family: Work Sans;
font-size: 13px;
font-weight: 400;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
border-radius: 10px;

background: rgba(82, 195, 3, 1);
border: none;
}

#hero{
    height: 700px;
    background-image: linear-gradient(180.00deg, rgba(9.197244644165039, 8.92899227142334, 8.92899227142334, 1),rgba(16, 16, 16, 0) 100%),
     url('../assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero .hero-content{
    width: 700px;

}
#hero .hero-content .subtitle{
 color: rgba(255, 255, 255, 1);
/* font-family: Work Sans; */
font-size: 19px;
font-weight: 400;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
opacity: 0.8;
margin-bottom: 10px;


}
#hero .hero-content .title{
 color: rgba(255, 255, 255, 1);
/* font-family: Work Sans; */
font-size: 36px;
font-weight: 600;
line-height: 50px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 14px;
}
#hero .hero-content .desciption{
 color: rgba(255, 255, 255, 1);
font-family: Work Sans;
font-size: 11px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-bottom: 18px;

}
